pkgbase = monitorman-git
	pkgdesc = CLI tool for adding/removing and arranging bspwm desktops and monitors
	pkgver = 1.0.1.r1.g00e952c
	pkgrel = 1
	url = https://github.com/JU12000/monitorman
	arch = any
	license = GPL3
	makedepends = git
	depends = bspwm
	depends = polybar
	depends = xorg-xprop
	depends = xorg-xrandr
	source = monitorman-git::git+https://github.com/JU12000/monitorman#branch=main
	sha256sums = SKIP

pkgname = monitorman-git
